.body-main {
  min-height: 100vh;
  background: #0d1117;
}

.body-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  min-height: inherit;
  display: flex;
  gap: 2rem;
}

.body-content {
  flex: 1;
  min-width: 0;
}
